body{
	background-image: url(b2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}




header
{
	font-family: 'Dancing Script', cursive;
font-family: 'Bad Script', cursive;
font-size: 200%;
font-weight: bold;
}

.hey{
	width: 300px;
	height: 180px;
	
}
.second
{
font-family: 'Dancing Script', cursive;
font-family: 'Bad Script', cursive;
font-size: 200%;
font-weight: bold;
border-bottom: 0.5px solid black;

width: 500px;
box-shadow: 50px grey;




}

.container{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

img{
	
	width: 450px;
	height: 300px;
	margin: 10px;
	transform:all 2s linear;
	margin-top: 10px;
}

img:hover{
	transform: scale(1.2);
	
}
